# Terraform files
.terraform/
.terraform.lock.hcl
tfplan
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example

# Crash log files
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Sensitive data
*.pem
*.key
secrets/
.SECRETS_ENV
*.env
.env*
!.SECRETS_ENV.example
